
@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/home.css" />

<div class="text-center container row">
    <div class="pageInformation row">
        <h1>Üdvözlünk!</h1>
        <h3>Az egészséged megőrzése az egyik legjobb befektetés, </h3>
        <h3>semmi mással nem érhetsz el ekkora hozamot.</h3>
    </div>
    <div class="col-lg-12 row navContainer">
        <div class="col-lg-4  homePageButton" id="existingClient">
            <h2 class="homePageSubTitle">Ügyfél belépés</h2>
            <form method="post">
                <label for="cardId" style="color:#ccc"> Írd be az ügyfél kártya azonosítóját:</label>
                <input id="cardId" class="form-control" type="text" name="cardId" />
                <input style="background-color:#ccc"type="submit" id="cardSearch" class="btn btn-default" value="Keresés" />
            </form>
            <p style="color:darkred">@ViewBag.Error</p>
            @*<a asp-action="Index" asp-controller="Abonaments"><h4>Bérletek</h4></a>*@
        </div>
        <a asp-action="Add" asp-controller="Clients">
            <div class="col-lg-4  homePageButton" id="newClient">
                <h2 class="homePageSubTitle">Új ügyfél</h2>
                <h4 style="color:#ccc">Új ügyfél regisztrálásáért kattints ide!</h4>

            </div>
        </a>

    </div>

    </div>

</div>

@section Scripts {
    <script src="~/js/home.js"></script>
}
