@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome</h1>
    <div>
        <a asp-action="Index" asp-controller="Abonaments" class="btn ui-button coursesButton">Bérletek</a>
        <a asp-action="Index" asp-controller="Clients" class="btn ui-button coursesButton">Ügyfelek</a>
        @*<a asp-action="Index" asp-controller="Algorithms" class="btn ui-button algorithmsButton">Algorithms</a>*@
    </div>
</div>
