@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/home.css" />

<div class="text-center container">
    <div class="pageInformation">
        <h1>Üdvözlünk!</h1>
    </div>
    
    <div class="pageInformation">
        <p><h3>Az egészséged megőrzése az egyik legjobb befektetés, </h3></p>
        <p><h3>semmi mással nem érhetsz el ekkora hozamot.</h3></p>
    </div>
    <div class="col-lg-12 row navContainer">
        <div class="col-lg-6">
            <div class="col-lg-6">
                <a asp-action="Index" asp-controller="Abonaments" class="btn ui-button abonamentsButton col-lg-3"><h4>Bérletek</h4></a>
            </div>
            <div class="col-lg-6">
                <a asp-action="Index" asp-controller="Clients" class="btn ui-button clientsButton col-lg-3"><h4>Ügyfelek</h4></a>
            </div>
        </div>
        <div class="col-lg-6">

        </div>
        
    </div>
    
</div>
